/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.hLight{
  	box-shadow: 0 0 15px rgba(81, 203, 238, 1) !important;
	border: 1px solid rgba(81, 203, 238, 1) !important;
}
a:link {
    color:#000000;
    background-color:transparent;
    text-decoration:none;
}
a:visited {
    color:#000000;
    background-color:transparent;
    text-decoration:none;
}
a:hover {
    color:#ff0000;
    background-color:transparent;
    text-decoration:underline;
}
a:active {
    color:#ff0000;
    background-color:transparent;
    text-decoration:underline;
}
div.scroll {
	position: absolute;
    width: 400px;
    height: 490px;
    overflow: scroll;
	padding: 0px 1px 200px 1px
} 
